.form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.form-control {
  margin-bottom: 10px;
}

.form-control--flexable {
  display: flex;
  flex-direction: row;
}

.form-control__label {
  display: block;
}

.form-control__input {
  width: 50%;
}

.form-section-title {
      border-bottom: 1px solid darkcyan;
      padding: 0 0 5px 0;
      margin-bottom: 5px;
      font-weight: bold;
}

.message {
  color: crimson;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.arrow {
  position: relative;
  width: 38px;
  margin: 0 10px;
  transform: translateY(50%);
}

.arrow__body {
  border: 1px solid black;
  width: 12px;
  height: 12px;
  border-left: none;
  border-top: none;
  transform: rotate(-45deg) skew(20deg, 20deg);
  position: absolute;
  right: 5px;
  top: -5px;
}

.arrow__line {
  border-top: 1px solid black;
}
